/* Import other SCSS files */ /* Custom measurements */
/* Animation */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400&family=Bellefair&display=swap");
@keyframes spin-background {
  0% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(1) rotate(1turn);
  }
}
/* Mixin */
/* Main */
.background {
  fill: url(#gradient);
  animation: spin-background 3s linear infinite;
  transform-origin: center;
  z-index: 1;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 55px);
  height: 136px;
  margin-left: 55px;
}
.top_icon {
  width: 48px;
  height: 48px;
  margin-top: 20px;
  align-self: center;
}
.top_nav {
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  align-self: end;
  max-width: 80vw;
  height: 96px;
  padding-right: 165px;
  margin-left: 50px;
  z-index: 1;
}
.top_nav a {
  text-decoration: none;
  width: auto;
  height: 20px;
  margin-top: 39px;
  margin-left: 48px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
  transition: all 0.5s ease;
}
.top_nav a:hover {
  padding-bottom: 55px;
  border-bottom: 3px solid gray;
}
.top_nav a:active {
  padding-bottom: 55px;
  border-bottom: 3px solid white;
}
.top span {
  font-weight: bold;
  margin-right: 12px;
}
.top_menu-btn--open {
  display: none;
  position: absolute;
  right: 24px;
  top: 33px;
  background-size: cover;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-width: 0px;
  background-image: url(../nav/icons/icon-hamburger.svg);
}
.top_menu-btn--close {
  display: none;
  position: absolute;
  right: 24px;
  top: 33px;
  background-size: cover;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-width: 0px;
  background-image: url(../nav/icons/icon-close.svg);
}

/* Media Queries */
@media only screen and (max-width: 1100px) {
  :root {
    font-size: 75px;
  }
  .top_nav {
    width: 630px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 785px) {
  :root {
    font-size: 100px;
  }
  .top {
    margin-top: 0px;
  }
  .top_nav {
    max-width: 450px;
    margin-left: 25px;
    padding-right: 48px;
  }
  .top a {
    margin-left: 25px;
  }
  .top span {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .top {
    margin-top: 0px;
  }
  .top_nav {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100vh;
    max-width: 80vw;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 120px;
    padding-right: 0px;
    padding-left: 60px;
    margin-left: 50px;
  }
  .top a {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    border-color: transparent;
    margin-left: 0px;
  }
  .top a:hover {
    padding-bottom: 0px;
    border-color: transparent;
  }
  .top span {
    margin-right: 10px;
    width: 20px;
    display: block;
  }
  .top_menu-btn--close {
    display: block;
  }
}
@media only screen and (max-width: 375px) {
  .top_nav {
    padding-left: 30px;
  }
}
/* Google fonts */
/* Primary colors */
/* Mixin */
/* Technology page */
:root {
  font-size: 100px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(images/background-technology-desktop.jpg);
  background-repeat: no-repeat;
  background-size: 2000px 1400px;
  background-position: top left;
  color: white;
  min-height: 100vh;
}

.star {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 5px white;
  z-index: 0;
}

.bottom {
  text-transform: uppercase;
  margin-left: 1.65rem;
  margin-top: 0.74rem;
}
.bottom .subtitle {
  font-size: 0.28rem;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 100;
  word-spacing: 5px;
  letter-spacing: 5px;
  cursor: default;
}
.bottom span {
  color: hsl(226, 11%, 31%);
  margin-right: 0.24rem;
  font-weight: 800;
}
.bottom .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.bottom .technology-image {
  content: url();
  min-width: 515px;
  font-size: 0.25rem;
  z-index: 1;
}
.bottom .nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 300px;
  order: 3;
}
.bottom .nav button {
  width: 80px;
  height: 80px;
  border: 1px solid rgb(107, 107, 107);
  background-color: transparent;
  color: white;
  border-radius: 50%;
  font-size: 0.25rem;
  font-weight: 100;
  font-family: "Bellefair", sans-serif;
  cursor: pointer;
}
.bottom .nav button:hover {
  border-color: white;
}
.bottom .nav button:active {
  background-color: white;
  color: hsl(230, 35%, 7%);
}
.bottom .info {
  font-family: "Barlow Condensed", sans-serif;
  min-width: 330px;
  max-width: 500px;
  min-height: 300px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: default;
}
.bottom .info_intro {
  font-size: 0.23rem;
  color: hsl(231, 77%, 90%);
  font-weight: 100;
  word-spacing: 4px;
  letter-spacing: 2px;
}
.bottom .info_title {
  font-family: "Bellefair", sans-serif;
  font-size: 0.54rem;
  margin-top: 12px;
  font-weight: 100;
}
.bottom .info_desc {
  text-transform: none;
  font-size: 0.23rem;
  color: hsl(231, 77%, 90%);
  margin-top: 15px;
  text-align: left;
  font-weight: 100;
  line-height: 30px;
}

/* Media Queries */
@media only screen and (max-width: 1265px) {
  :root {
    font-size: 75px;
  }
  .bottom .nav {
    min-height: 250px;
  }
  .bottom .nav button {
    width: 60px;
    height: 60px;
  }
  .bottom .info {
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1080px) {
  .bottom {
    margin-left: 0;
  }
  .bottom .subtitle {
    margin-left: 55px;
  }
  .bottom .container {
    flex-direction: column;
    margin-top: 60px;
    text-align: center;
  }
  .bottom .technology-image {
    content: url();
    width: 100vw;
  }
  .bottom .nav {
    flex-direction: row;
    margin-top: 56px;
    min-width: 210px;
    min-height: 60px;
    order: 0;
  }
  .bottom .info {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 769px) {
  body {
    background-image: url(images/background-technology-tablet.jpg);
    background-size: 1648px 1098px;
  }
}
@media only screen and (max-width: 600px) {
  :root {
    font-size: 60px;
  }
  .bottom .subtitle {
    margin-left: 0;
    text-align: center;
  }
  .bottom .container {
    margin-top: 32px;
  }
  .bottom .nav {
    margin-top: 32px;
  }
  .bottom .info {
    margin-top: 26px;
    padding-left: 30px;
    padding-right: 30px;
  }
  .bottom .info_title {
    font-size: 0.5rem;
  }
  .bottom .info_desc {
    font-size: 0.25rem;
  }
}/*# sourceMappingURL=technology.css.map */