/* Import other SCSS files */ /* Custom measurements */
/* Animation */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;200;300;400&family=Bellefair&display=swap");
@keyframes spin-background {
  0% {
    transform: scale(1) rotate(0);
  }
  100% {
    transform: scale(1) rotate(1turn);
  }
}
/* Mixin */
/* Main */
.background {
  fill: url(#gradient);
  animation: spin-background 3s linear infinite;
  transform-origin: center;
  z-index: 1;
}

.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: calc(100% - 55px);
  height: 136px;
  margin-left: 55px;
}
.top_icon {
  width: 48px;
  height: 48px;
  margin-top: 20px;
  align-self: center;
}
.top_nav {
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-end;
  align-self: end;
  max-width: 80vw;
  height: 96px;
  padding-right: 165px;
  margin-left: 50px;
  z-index: 1;
}
.top_nav a {
  text-decoration: none;
  width: auto;
  height: 20px;
  margin-top: 39px;
  margin-left: 48px;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
  transition: all 0.5s ease;
}
.top_nav a:hover {
  padding-bottom: 55px;
  border-bottom: 3px solid gray;
}
.top_nav a:active {
  padding-bottom: 55px;
  border-bottom: 3px solid white;
}
.top span {
  font-weight: bold;
  margin-right: 12px;
}
.top_menu-btn--open {
  display: none;
  position: absolute;
  right: 24px;
  top: 33px;
  background-size: cover;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-width: 0px;
  background-image: url(../nav/icons/icon-hamburger.svg);
}
.top_menu-btn--close {
  display: none;
  position: absolute;
  right: 24px;
  top: 33px;
  background-size: cover;
  background-color: transparent;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-width: 0px;
  background-image: url(../nav/icons/icon-close.svg);
}

/* Media Queries */
@media only screen and (max-width: 1100px) {
  :root {
    font-size: 75px;
  }
  .top_nav {
    width: 630px;
    padding-right: 50px;
  }
}
@media only screen and (max-width: 785px) {
  :root {
    font-size: 100px;
  }
  .top {
    margin-top: 0px;
  }
  .top_nav {
    max-width: 450px;
    margin-left: 25px;
    padding-right: 48px;
  }
  .top a {
    margin-left: 25px;
  }
  .top span {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .top {
    margin-top: 0px;
  }
  .top_nav {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    min-height: 100vh;
    max-width: 80vw;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 120px;
    padding-right: 0px;
    padding-left: 60px;
    margin-left: 50px;
  }
  .top a {
    display: flex;
    flex-direction: row;
    padding-bottom: 0px;
    border-color: transparent;
    margin-left: 0px;
  }
  .top a:hover {
    padding-bottom: 0px;
    border-color: transparent;
  }
  .top span {
    margin-right: 10px;
    width: 20px;
    display: block;
  }
  .top_menu-btn--close {
    display: block;
  }
}
@media only screen and (max-width: 375px) {
  .top_nav {
    padding-left: 30px;
  }
}
/* Google fonts */
/* Primary colors */
/* Animation */
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Main page */
:root {
  font-size: 100px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  background-image: url(images/background-home-desktop.jpg);
  background-size: 2400px 1300px;
  background-position-x: 60%;
  background-position-y: top;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: hsl(230, 35%, 7%);
  min-height: 100vh;
  color: white;
  z-index: 1;
}

.star {
  position: absolute;
  font-size: 50px;
  animation: rotate 2s linear infinite;
  z-index: 0;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 200px;
  margin-left: 55px;
}

/* Title, subtitle & text */
.intro {
  width: 450px;
  height: 382px;
  cursor: default;
  text-align: center;
}
.intro_title {
  height: 34px;
  font-size: 0.28rem;
  font-weight: 400;
  word-spacing: 4.75px;
  line-height: 34px;
  color: hsl(231, 77%, 90%);
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
}
.intro_subtitle {
  height: 172px;
  font-family: "Bellefair", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 172px;
  text-transform: uppercase;
}
.intro_description {
  height: 128px;
  font-family: "Barlow Condensed", sans-serif;
  font-style: normal;
  font-size: 0.2rem;
  line-height: 32px;
  color: hsl(231, 77%, 90%);
  text-align: justify;
}

/* Explore button */
.explore-border {
  position: relative;
  background-image: linear-gradient(midnightblue, mediumslateblue, steelblue, cornflowerblue);
  width: 294px;
  height: 294px;
  margin-top: 50px;
  margin-right: 50px;
  border-radius: 50%;
  animation: rotate 2s linear infinite;
}

.explore-btn {
  position: absolute;
  font-family: "Bellefair", sans-serif;
  width: 274px;
  height: 274px;
  text-transform: uppercase;
  font-size: 0.32rem;
  border-radius: 50%;
  cursor: pointer;
  border: 0px solid transparent;
  transition: all 0.1s ease;
  top: 10px;
  left: 10px;
  animation: rotate 2s linear reverse infinite;
}
.explore-btn:hover {
  top: 20px;
  left: 20px;
  width: 254px;
  height: 254px;
  border: 20px solid transparent;
}

/* Media Queries */
@media only screen and (max-width: 1100px) {
  :root {
    font-size: 75px;
  }
  .bottom .intro {
    width: 350px;
  }
  .bottom .explore-border {
    width: 194px;
    height: 194px;
  }
  .bottom .explore-btn {
    width: 174px;
    height: 174px;
  }
  .bottom .explore-btn:hover {
    top: 15px;
    left: 15px;
    width: 164px;
    height: 164px;
  }
}
@media only screen and (max-width: 785px) {
  :root {
    font-size: 100px;
  }
  body {
    background-image: url(images/background-home-tablet.jpg);
    background-size: 1400px 1100px;
    background-position: top left;
  }
  .bottom {
    margin-top: 100px;
    margin-left: 0;
    flex-direction: column;
    align-items: center;
  }
  .bottom .intro {
    width: 450px;
  }
  .bottom .intro_description {
    font-size: 0.14rem;
  }
  .bottom .explore-border {
    margin-top: 25px;
    margin-right: 0px;
  }
}
@media only screen and (max-width: 550px) {
  .bottom {
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
  }
  .bottom .intro {
    width: 350px;
  }
  .bottom .intro_title {
    height: 30px;
    font-size: 0.2rem;
    word-spacing: 3.75px;
    line-height: 24px;
  }
  .bottom .intro_subtitle {
    height: 142px;
    font-size: 1rem;
    line-height: 142px;
  }
  .bottom .intro_description {
    height: 128px;
    font-size: 0.18rem;
    line-height: 32px;
  }
  .bottom .explore-border {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 375px) {
  .intro {
    padding: 0px 20px;
  }
  .intro_description {
    height: 128px;
    font-size: 0.08rem;
    line-height: 22px;
  }
  .bottom .explore-border {
    margin-top: 0px;
  }
}/*# sourceMappingURL=menu.css.map */